/*
 * StyleSheet File
 * Developed by TriForce
 * 
 * Modified:  Apr. 18, 2021. 23:16 (UTC-3)
 * Source:    https://github.com/TriForceX/TriForce.Dev
 */
body {
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 12px;
    background: #0d1117;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
img {
    outline: 0;
    border: 0;
}
a, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    color: white;
}
main {
    position: static;
    z-index: 0;
    cursor: pointer;
}